<template>
    <div class="ui-calendar" :class="classes">
        <div class="ui-calendar__header">
            <div
                class="ui-calendar__header-year"
                tabindex="0"

                :class="{ 'is-active': showYearPicker }"

                @click="showYearPicker = true"
                @keydown.enter="showYearPicker = true"
            >{{ headerYear }}</div>

            <div
                class="ui-calendar__header-details"
                tabindex="0"

                :class="{ 'is-active': !showYearPicker }"

                @click="showYearPicker = false"
                @keydown.enter="showYearPicker = false"
            >
                <span class="ui-calendar__header-day">{{ headerDay }}, </span>
                <span class="ui-calendar__header-date">{{ headerDate }}</span>
            </div>
        </div>

        <div class="ui-calendar__body">
            <ul class="ui-calendar__years" ref="years" v-show="showYearPicker">
                <li
                    class="ui-calendar__year"
                    tabindex="0"

                    :class="getYearClasses(year)"

                    @click="selectYear(year)"
                    @keydown.enter="selectYear(year)"

                    v-for="year in yearRange"
                    v-if="!isYearOutOfRange(year)"
                >{{ year }}</li>
            </ul>

            <div v-show="!showYearPicker">
                <ui-calendar-controls
                    ref="controls"

                    :date-in-view="dateInView"
                    :lang="lang"
                    :max-date="maxDate"
                    :min-date="minDate"

                    @go-to-date="onGoToDate"
                ></ui-calendar-controls>

                <ui-calendar-month
                    ref="month"

                    :date-filter="dateFilter"
                    :date-in-view="dateInView"
                    :lang="lang"
                    :max-date="maxDate"
                    :min-date="minDate"
                    :selected="value"

                    @change="onMonthChange"
                    @date-select="onDateSelect"
                ></ui-calendar-month>
            </div>

            <div class="ui-calendar__footer" v-if="$slots.footer">
                <slot name="footer"></slot>
            </div>
        </div>
    </div>
</template>

<script>
import UiCalendarControls from './UiCalendarControls.vue';
import UiCalendarMonth from './UiCalendarMonth.vue';

import dateUtils from './helpers/date';
import { scrollIntoView } from './helpers/element-scroll';

export default {
    name: 'ui-calendar',

    props: {
        value: Date,
        minDate: Date,
        maxDate: Date,
        lang: {
            type: Object,
            default() {
                return dateUtils.defaultLang;
            }
        },
        yearRange: {
            type: Array,
            default() {
                const thisYear = (new Date()).getFullYear();

                // Generates a range of 200 years
                // (100 years into the past and 100 years into the future, including the current year)
                return Array.apply(null, Array(200))
                    .map((item, index) => {
                        return (thisYear - 100) + index;
                    });
            }
        },
        dateFilter: Function,
        color: {
            type: String,
            default: 'primary' // 'primary' or 'accent'
        },
        orientation: {
            type: String,
            default: 'portrait' // 'portrait' or 'landscape'
        }
    },

    data() {
        return {
            today: new Date(),
            dateInView: this.getDateInRange(this.value, new Date()),
            showYearPicker: false
        };
    },

    computed: {
        classes() {
            return [
                `ui-calendar--color-${this.color}`,
                `ui-calendar--orientation-${this.orientation}`
            ];
        },

        headerYear() {
            return this.value ? this.value.getFullYear() : this.today.getFullYear();
        },

        headerDay() {
            return this.value ?
                dateUtils.getDayAbbreviated(this.value, this.lang) :
                dateUtils.getDayAbbreviated(this.today, this.lang);
        },

        headerDate() {
            const date = this.value ? this.value : this.today;

            return dateUtils.getMonthAbbreviated(date, this.lang) + ' ' +
                dateUtils.getDayOfMonth(date, this.lang);
        }
    },

    watch: {
        value() {
            if (this.value) {
                this.dateInView = dateUtils.clone(this.value);
            }
        },

        showYearPicker() {
            if (this.showYearPicker) {
                this.$nextTick(() => {
                    const el = this.$refs.years.querySelector('.is-selected') ||
                    this.$refs.years.querySelector('.is-current-year');

                    scrollIntoView(el, { marginTop: 126 });
                });
            }
        }
    },

    methods: {
        selectYear(year) {
            const newDate = dateUtils.clone(this.dateInView);
            newDate.setFullYear(year);

            this.dateInView = this.getDateInRange(newDate);
            this.showYearPicker = false;
        },

        getDateInRange(date, fallback) {
            date = date || fallback;

            if (this.minDate && date.getTime() < this.minDate.getTime()) {
                return this.minDate;
            }

            if (this.maxDate && date.getTime() > this.maxDate.getTime()) {
                return this.maxDate;
            }

            return date;
        },

        getYearClasses(year) {
            return {
                'is-current-year': this.isYearCurrent(year),
                'is-selected': this.isYearSelected(year)
            };
        },

        isYearCurrent(year) {
            return year === this.today.getFullYear();
        },

        isYearSelected(year) {
            return this.value && year === this.value.getFullYear();
        },

        isYearOutOfRange(year) {
            if (this.minDate && year < this.minDate.getFullYear()) {
                return true;
            }

            if (this.maxDate && year > this.maxDate.getFullYear()) {
                return true;
            }

            return false;
        },

        onDateSelect(date) {
            this.$emit('input', date);
            this.$emit('date-select', date);
        },

        onGoToDate(date, options = { isForward: true }) {
            this.$refs.month.goToDate(date, options);
        },

        onMonthChange(newDate) {
            this.dateInView = newDate;
            this.$emit('month-change', newDate);
        }
    },

    components: {
        UiCalendarControls,
        UiCalendarMonth
    }
};
</script>


