<template>
    <label class="ui-checkbox" :class="classes">
        <input
            class="ui-checkbox__input"
            type="checkbox"

            :checked.prop="isChecked"
            :disabled="disabled"
            :name="name"
            :value="submittedValue"

            @blur="onBlur"
            @change="onChange"
            @click="onClick"
            @focus="onFocus"
        >

        <div class="ui-checkbox__checkmark">
            <div class="ui-checkbox__focus-ring"></div>
        </div>

        <div class="ui-checkbox__label-text" v-if="label || $slots.default">
            <slot>{{ label }}</slot>
        </div>
    </label>
</template>

<script>
import { looseEqual } from './helpers/util';

export default {
    name: 'ui-checkbox',

    props: {
        name: String,
        label: String,
        value: {
            required: true
        },
        trueValue: {
            default: true
        },
        falseValue: {
            default: false
        },
        submittedValue: {
            type: String,
            default: 'on' // HTML default
        },
        checked: {
            type: Boolean,
            default: false
        },
        boxPosition: {
            type: String,
            default: 'left' // 'left' or 'right'
        },
        color: {
            type: String,
            default: 'primary' // 'primary' or 'accent'
        },
        disabled: {
            type: Boolean,
            default: false
        }
    },

    data() {
        return {
            isActive: false,
            isChecked: looseEqual(this.value, this.trueValue) || this.checked
        };
    },

    computed: {
        classes() {
            return [
                `ui-checkbox--color-${this.color}`,
                `ui-checkbox--box-position-${this.boxPosition}`,
                { 'is-checked': this.isChecked },
                { 'is-active': this.isActive },
                { 'is-disabled': this.disabled }
            ];
        }
    },

    watch: {
        value() {
            this.isChecked = looseEqual(this.value, this.trueValue);
        }
    },

    created() {
        this.$emit('input', this.isChecked ? this.trueValue : this.falseValue);
    },

    methods: {
        onClick(e) {
            this.isChecked = e.target.checked;
            this.$emit('input', e.target.checked ? this.trueValue : this.falseValue);
        },

        onChange(e) {
            // Fix for mobile Safari, which triggers onClick and onChange in a different order (#325)
            this.isChecked = e.target.checked;

            this.$emit('change', this.isChecked ? this.trueValue : this.falseValue, e);
        },

        onFocus(e) {
            this.isActive = true;
            this.$emit('focus', e);
        },

        onBlur(e) {
            this.isActive = false;
            this.$emit('blur', e);
        }
    }
};
</script>


