<template>
    <button
        class="ui-fab"
        ref="button"

        :aria-label="ariaLabel || tooltip"
        :class="classes"

        @click="onClick"
    >
        <div class="ui-fab__icon" v-if="icon || $slots.default">
            <slot>
                <ui-icon :icon="icon"></ui-icon>
            </slot>
        </div>

        <span class="ui-fab__focus-ring"></span>

        <ui-ripple-ink trigger="button" v-if="!disableRipple"></ui-ripple-ink>

        <ui-tooltip
            trigger="button"

            :open-on="openTooltipOn"
            :position="tooltipPosition"

            v-if="tooltip"
        >{{ tooltip }}</ui-tooltip>
    </button>
</template>

<script>
import UiIcon from './UiIcon.vue';
import UiRippleInk from './UiRippleInk.vue';
import UiTooltip from './UiTooltip.vue';

import config from './config';

export default {
    name: 'ui-fab',

    props: {
        size: {
            type: String,
            default: 'normal' // 'normal' or 'small'
        },
        color: {
            type: String,
            default: 'default' // 'default', primary', or 'accent'
        },
        icon: String,
        ariaLabel: String,
        tooltip: String,
        openTooltipOn: String,
        tooltipPosition: String,
        disableRipple: {
            type: Boolean,
            default: config.data.disableRipple
        }
    },

    computed: {
        classes() {
            return [
                `ui-fab--color-${this.color}`,
                `ui-fab--size-${this.size}`
            ];
        }
    },

    methods: {
        onClick(e) {
            this.$emit('click', e);
        }
    },

    components: {
        UiIcon,
        UiRippleInk,
        UiTooltip
    }
};
</script>


