<template>
    <label
        class="ui-fileupload"
        ref="label"

        :class="classes"
    >
        <input
            class="ui-fileupload__input"
            ref="input"
            type="file"

            :accept="accept"
            :disabled="disabled"
            :multiple="multiple"
            :name="name"
            :required="required"

            @blur="onBlur"
            @change="onChange"
            @focus="onFocus"
        >

        <div class="ui-fileupload__content">
            <div class="ui-fileupload__icon">
                <slot name="icon">
                    <ui-icon>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path d="M5.016 18h13.969v2.016H5.016V18zM9 15.984v-6H5.016L12 3l6.984 6.984H15v6H9z"/>
                        </svg>
                    </ui-icon>
                </slot>
            </div>

            <span v-if="hasSelection" class="ui-fileupload__display-text">{{ displayText }}</span>
            <slot v-else>{{ placeholder }}</slot>
        </div>

        <div class="ui-fileupload__focus-ring" :style="focusRingStyle"></div>

        <ui-ripple-ink trigger="label" v-if="!disableRipple && !disabled"></ui-ripple-ink>
    </label>
</template>

<script>
import UiIcon from './UiIcon.vue';
import UiRippleInk from './UiRippleInk.vue';

import config from './config';

export default {
    name: 'ui-fileupload',

    props: {
        name: {
            type: String,
            required: true
        },
        label: String,
        accept: String,
        multiple: {
            type: Boolean,
            default: false
        },
        required: {
            type: Boolean,
            default: false
        },
        type: {
            type: String,
            default: 'primary' // 'primary' or 'secondary'
        },
        color: {
            type: String,
            default: 'default' // 'default', 'primary', 'accent'
        },
        size: {
            type: String,
            default: 'normal' // 'small', 'normal', 'large'
        },
        raised: {
            type: Boolean,
            default: false
        },
        iconPosition: {
            type: String,
            default: 'left' // 'left' or 'right'
        },
        disableRipple: {
            type: Boolean,
            default: config.data.disableRipple
        },
        disabled: {
            type: Boolean,
            default: false
        }
    },

    data() {
        return {
            isActive: false,
            hasSelection: false,
            hasMultiple: false,
            displayText: '',
            focusRing: {
                top: 0,
                left: 0,
                size: 0,
                initialized: false
            }
        };
    },

    computed: {
        classes() {
            return [
                `ui-fileupload--type-${this.type}`,
                `ui-fileupload--color-${this.color}`,
                `ui-fileupload--icon-position-${this.iconPosition}`,
                `ui-fileupload--size-${this.size}`,
                { 'is-active': this.isActive },
                { 'is-multiple': this.hasMultiple },
                { 'is-raised': this.raised },
                { 'is-disabled': this.disabled }
            ];
        },

        placeholder() {
            if (this.label) {
                return this.label;
            }

            return this.multiple ? 'Choose files' : 'Choose a file';
        },

        focusRingStyle() {
            return {
                height: this.focusRing.size + 'px',
                width: this.focusRing.size + 'px',
                top: this.focusRing.top + 'px',
                left: this.focusRing.left + 'px'
            };
        }
    },

    methods: {
        onFocus(e) {
            this.isActive = true;
            this.$emit('focus', e);

            if (!this.focusRing.initialized) {
                this.initializeFocusRing();
            }
        },

        onBlur(e) {
            this.isActive = false;
            this.$emit('blur', e);
        },

        onChange(e) {
            let displayText;
            const input = this.$refs.input;

            if (input.files && input.files.length > 1) {
                displayText = `${input.files.length} files selected`;
            } else {
                displayText = e.target.value.split('\\').pop();
            }

            if (displayText) {
                this.hasSelection = true;
                this.displayText = displayText;
                this.hasMultiple = input.files.length > 1;

                this.$nextTick(() => this.refreshFocusRing());
            }

            this.$emit('change', input.files, e);
        },

        initializeFocusRing() {
            this.refreshFocusRing();
            this.focusRing.initialized = true;
        },

        refreshFocusRing() {
            const bounds = {
                width: this.$el.clientWidth,
                height: this.$el.clientHeight
            };

            this.focusRing.size = bounds.width - 16; // 8px of padding on left and right
            this.focusRing.top = -1 * (this.focusRing.size - bounds.height) / 2;
            this.focusRing.left = (bounds.width - this.focusRing.size) / 2;
        }
    },

    components: {
        UiIcon,
        UiRippleInk
    }
};
</script>


