<template>
    <span class="ui-icon" :class="[iconSet, icon]" :aria-label="ariaLabel">
        <svg class="ui-icon__svg" v-if="useSvg">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" :xlink:href="'#' + icon"></use>
        </svg>

        <slot v-else>{{ removeText ? null : icon }}</slot>
    </span>
</template>

<script>
export default {
    name: 'ui-icon',

    props: {
        icon: String,
        iconSet: {
            type: String,
            default: 'material-icons'
        },
        ariaLabel: String,
        removeText: {
            type: Boolean,
            default: false
        },
        useSvg: {
            type: Boolean,
            default: false
        }
    }
};
</script>


