<template>
    <ul class="ui-menu" role="menu" :class="classes">
        <ui-menu-option
            :disable-ripple="disableRipple"
            :disabled="option[keys.disabled]"
            :icon-props="iconProps || option[keys.iconProps]"
            :icon="hasIcons ? option[keys.icon] : null"
            :key="index"
            :label="option[keys.type] === 'divider' ? null : option[keys.label] || option"
            :secondary-text="hasSecondaryText ? option[keys.secondaryText] : null"
            :type="option[keys.type]"

            @click.native="selectOption(option)"
            @keydown.enter.native.prevent="selectOption(option)"
            @keydown.esc.native.esc="closeMenu"

            v-for="(option, index) in options"
        >
            <slot name="option" :option="option"></slot>
        </ui-menu-option>

        <div
            class="ui-menu__focus-redirector"
            tabindex="0"

            @focus="redirectFocus"

            v-if="containFocus"
        ></div>
    </ul>
</template>

<script>
import UiMenuOption from './UiMenuOption.vue';

import config from './config';

export default {
    name: 'ui-menu',

    props: {
        options: {
            type: Array,
            default() {
                return [];
            }
        },
        hasIcons: {
            type: Boolean,
            default: false
        },
        iconProps: Object,
        hasSecondaryText: {
            type: Boolean,
            default: false
        },
        containFocus: {
            type: Boolean,
            default: false
        },
        keys: {
            type: Object,
            default() {
                return config.data.UiMenu.keys;
            }
        },
        disableRipple: {
            type: Boolean,
            default: config.data.disableRipple
        },
        raised: {
            type: Boolean,
            default: false
        }
    },

    computed: {
        classes() {
            return {
                'is-raised': this.raised,
                'has-icons': this.hasIcons,
                'has-secondary-text': this.hasSecondaryText
            };
        }
    },

    methods: {
        selectOption(option) {
            if (option.disabled || option.type === 'divider') {
                return;
            }

            this.$emit('select', option);
            this.closeMenu();
        },

        closeMenu() {
            this.$emit('close');
        },

        redirectFocus(e) {
            e.stopPropagation();
            this.$el.querySelector('.ui-menu-option').focus();
        }
    },

    components: {
        UiMenuOption
    }
};
</script>


