<template>
    <li
        class="ui-menu-option"
        ref="menuOption"
        role="menu-item"

        :class="classes"
        :tabindex="(isDivider || disabled) ? null : '0'"
    >
        <slot v-if="!isDivider">
            <div class="ui-menu-option__content">
                <ui-icon
                    class="ui-menu-option__icon"

                    :icon-set="iconProps.iconSet"
                    :icon="icon"
                    :remove-text="iconProps.removeText"
                    :use-svg="iconProps.useSvg"

                    v-if="icon"
                ></ui-icon>

                <div class="ui-menu-option__text">{{ label }}</div>

                <div class="ui-menu-option__secondary-text" v-if="secondaryText">
                    {{ secondaryText }}
                </div>
            </div>
        </slot>

        <ui-ripple-ink
            trigger="menuOption"
            v-if="!disabled && !isDivider && !disableRipple"
        ></ui-ripple-ink>
    </li>
</template>

<script>
import UiIcon from './UiIcon.vue';
import UiRippleInk from './UiRippleInk.vue';

import config from './config';

export default {
    name: 'ui-menu-option',

    props: {
        type: String,
        label: String,
        icon: String,
        iconProps: {
            type: Object,
            default() {
                return {};
            }
        },
        secondaryText: String,
        disableRipple: {
            type: Boolean,
            default: config.data.disableRipple
        },
        disabled: {
            type: Boolean,
            default: false
        }
    },

    computed: {
        classes() {
            return {
                'is-divider': this.isDivider,
                'is-disabled': this.disabled
            };
        },

        isDivider() {
            return this.type === 'divider';
        }
    },

    components: {
        UiIcon,
        UiRippleInk
    }
};
</script>


