<template>
    <div class="ui-preloader" :class="{ 'is-loading' : show }">
        <div
            class="ui-preloader__progressbar"
            role="progressbar"

            :aria-busy="show ? 'true' : false"
        ></div>
    </div>
</template>

<script>
export default {
    name: 'ui-preloader',

    props: {
        show: {
            type: Boolean,
            required: true
        }
    }
};
</script>


