<template>
    <transition name="ui-progress-linear--transition-fade">
        <div class="ui-progress-linear" :class="classes">
            <div
                class="ui-progress-linear__progress-bar is-determinate"
                role="progressbar"

                :aria-valuemax="100"
                :aria-valuemin="0"
                :aria-valuenow="moderatedProgress"
                :style="{ 'transform': `scaleX(${moderatedProgress / 100})` }"

                v-if="type === 'determinate'"
            ></div>

            <div
                class="ui-progress-linear__progress-bar is-indeterminate"
                role="progressbar"

                :aria-valuemax="100"
                :aria-valuemin="0"

                v-else
            ></div>
        </div>
    </transition>
</template>

<script>
export default {
    name: 'ui-progress-linear',

    props: {
        type: {
            type: String,
            default: 'indeterminate' // 'determinate' or 'indeterminate'
        },
        color: {
            type: String,
            default: 'primary' // 'primary', 'accent', 'black' or 'white'
        },
        progress: {
            type: Number,
            default: 0
        }
    },

    computed: {
        classes() {
            return [
                `ui-progress-linear--color-${this.color}`,
                `ui-progress-linear--type-${this.type}`
            ];
        },

        moderatedProgress() {
            if (this.progress < 0) {
                return 0;
            }

            if (this.progress > 100) {
                return 100;
            }

            return this.progress;
        }
    }
};
</script>


