<template>
    <label class="ui-radio" :class="classes" @click="toggleCheck">
        <div class="ui-radio__input-wrapper">
            <input
                class="ui-radio__input"
                type="radio"

                :checked="checked"
                :disabled="disabled"
                :name="name"
                :value="trueValue"

                @blur="onBlur"
                @change="onChange"
                @focus="onFocus"
            >

            <div class="ui-radio__focus-ring"></div>

            <span class="ui-radio__outer-circle"></span>
            <span class="ui-radio__inner-circle"></span>
        </div>

        <div class="ui-radio__label-text" v-if="label || $slots.default">
            <slot>{{ label }}</slot>
        </div>
    </label>
</template>

<script>
export default {
    name: 'ui-radio',

    props: {
        name: String,
        label: String,
        value: {
            type: [Number, String],
            required: true
        },
        trueValue: {
            type: [Number, String],
            required: true
        },
        checked: {
            type: Boolean,
            default: false
        },
        color: {
            type: String,
            default: 'primary' // 'primary' or 'accent'
        },
        buttonPosition: {
            type: String,
            default: 'left' // 'left' or 'right'
        },
        disabled: {
            type: Boolean,
            default: false
        }
    },

    data() {
        return {
            isActive: false
        };
    },

    computed: {
        classes() {
            return [
                `ui-radio--color-${this.color}`,
                `ui-radio--button-position-${this.buttonPosition}`,
                { 'is-active': this.isActive },
                { 'is-checked': this.isChecked },
                { 'is-disabled': this.disabled }
            ];
        },

        isChecked() {
            // eslint-disable-next-line eqeqeq
            return (String(this.value).length > 0) && (this.value == this.trueValue);
        }
    },

    created() {
        if (this.checked) {
            this.$emit('input', this.trueValue);
        }
    },

    methods: {
        toggleCheck() {
            if (!this.disabled) {
                this.$emit('input', this.trueValue);
            }
        },

        onFocus(e) {
            this.isActive = true;
            this.$emit('focus', e);
        },

        onBlur(e) {
            this.isActive = false;
            this.$emit('blur', e);
        },

        onChange(e) {
            this.$emit('change', this.isChecked, e);
        }
    }
};
</script>


