<template>
    <div class="ui-radio-group" :class="classes">
        <div class="ui-radio-group__label-text" v-if="label || $slots.default">
            <slot>{{ label }}</slot>
        </div>

        <div class="ui-radio-group__radios">
            <ui-radio
                class="ui-radio-group__radio"

                :button-position="buttonPosition"
                :checked="isOptionCheckedByDefault(option)"
                :class="option[keys.class]"
                :color="color"
                :disabled="disabled || option[keys.disabled]"
                :id="option[keys.id]"
                :key="option[keys.id]"
                :name="name"
                :true-value="option[keys.value] || option"

                @blur="onBlur"
                @focus="onFocus"

                v-for="option in options"
                v-model="selectedOptionValue"
            >{{ option[keys.label] || option }}</ui-radio>
        </div>

        <div class="ui-radio-group__feedback" v-if="hasFeedback">
            <div class="ui-radio-group__feedback-text" v-if="showError">
                <slot name="error">{{ error }}</slot>
            </div>

            <div class="ui-radio-group__feedback-text" v-else-if="showHelp">
                <slot name="help">{{ help }}</slot>
            </div>
        </div>
    </div>
</template>

<script>
import UiRadio from './UiRadio.vue';

import config from './config';

export default {
    name: 'ui-radio-group',

    props: {
        name: {
            type: String,
            required: true
        },
        label: String,
        options: {
            type: Array,
            required: true
        },
        value: {
            type: [Number, String],
            required: true
        },
        keys: {
            type: Object,
            default() {
                return config.data.UiRadioGroup.keys;
            }
        },
        color: {
            type: String,
            default: 'primary' // 'primary' or 'accent'
        },
        buttonPosition: {
            type: String,
            default: 'left' // 'left' or 'right'
        },
        vertical: {
            type: Boolean,
            default: false
        },
        help: String,
        error: String,
        invalid: {
            type: Boolean,
            default: false
        },
        disabled: {
            type: Boolean,
            default: false
        }
    },

    data() {
        return {
            isActive: false,
            initialValue: this.value,
            selectedOptionValue: this.value
        };
    },

    computed: {
        classes() {
            return [
                `ui-radio-group--color-${this.color}`,
                `ui-radio-group--button-position-${this.buttonPosition}`,
                { 'is-vertical': this.vertical },
                { 'is-active': this.isActive },
                { 'is-invalid': this.invalid },
                { 'is-disabled': this.disabled }
            ];
        },

        hasFeedback() {
            return Boolean(this.help) || Boolean(this.error) || Boolean(this.$slots.error);
        },

        showError() {
            return this.invalid && (Boolean(this.error) || Boolean(this.$slots.error));
        },

        showHelp() {
            return !this.showError && (Boolean(this.help) || Boolean(this.$slots.help));
        }
    },

    watch: {
        selectedOptionValue() {
            this.$emit('input', this.selectedOptionValue);
            this.$emit('change', this.selectedOptionValue);
        },

        value() {
            this.selectedOptionValue = this.value;
        }
    },

    methods: {
        reset() {
            this.$emit('input', this.initialValue);
        },

        isOptionCheckedByDefault(option) {
            // eslint-disable-next-line eqeqeq
            return this.initialValue == option[this.keys.value] || this.initialValue == option ||
                option[this.keys.checked];
        },

        onFocus(e) {
            this.isActive = true;
            this.$emit('focus', e);
        },

        onBlur(e) {
            this.isActive = false;
            this.$emit('blur', e);
        }
    },

    components: {
        UiRadio
    }
};
</script>


