<template>
    <div
        class="ui-slider"
        role="slider"

        :aria-valuemax="100"
        :aria-valuemin="0"
        :aria-valuenow="localValue"
        :class="classes"
        :tabindex="disabled ? null : 0"

        @blur="onBlur"
        @focus="onFocus"
        @keydown.down.prevent="decrementValue"
        @keydown.left.prevent="decrementValue"
        @keydown.right.prevent="incrementValue"
        @keydown.up.prevent="incrementValue"
    >
        <input
            class="ui-slider__hidden-input"
            type="hidden"

            :name="name"
            :value="value"

            v-if="name"
        >

        <div class="ui-slider__icon" v-if="hasIcon">
            <slot name="icon">
                <ui-icon :icon="icon"></ui-icon>
            </slot>
        </div>

        <div
            class="ui-slider__track"
            ref="track"
            @mousedown="onDragStart"
            @touchstart="onDragStart"
        >
            <div class="ui-slider__track-background">
                <span
                    class="ui-slider__snap-point"
                    :style="{ left: point + '%' }"

                    v-if="snapToSteps"
                    v-for="point in snapPoints"
                ></span>
            </div>

            <div class="ui-slider__track-fill" :style="fillStyle"></div>

            <div class="ui-slider__thumb" ref="thumb" :style="thumbStyle">
                <div class="ui-slider__marker" v-if="showMarker">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36">
                        <path d="M11 .5c-1.7.2-3.4.9-4.7 2-1.1.9-2 2-2.5 3.2-1.2 2.4-1.2 5.1-.1 7.7 1.1 2.6 2.8 5 5.3 7.5 1.2 1.2 2.8 2.7 3 2.7 0 0 .3-.2.6-.5 3.2-2.7 5.6-5.6 7.1-8.5.8-1.5 1.1-2.6 1.3-3.8.2-1.4 0-2.9-.5-4.3-1.2-3.2-4.1-5.4-7.5-5.8-.5-.2-1.5-.2-2-.2z"/>
                    </svg>

                    <span class="ui-slider__marker-text">{{ markerText }}</span>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import UiIcon from './UiIcon.vue';

import classlist from './helpers/classlist';
import RespondsToWindowResize from './mixins/RespondsToWindowResize.js';

export default {
    name: 'ui-slider',

    props: {
        name: String,
        icon: String,
        value: {
            type: Number,
            required: true
        },
        step: {
            type: Number,
            default: 10
        },
        snapToSteps: {
            type: Boolean,
            default: false
        },
        showMarker: {
            type: Boolean,
            default: false
        },
        markerValue: Number,
        disabled: {
            type: Boolean,
            default: false
        }
    },

    data() {
        return {
            initialValue: this.value,
            isActive: false,
            isDragging: false,
            thumbSize: 0,
            trackLength: 0,
            trackOffset: 0,
            localValue: this.value
        };
    },

    computed: {
        classes() {
            return [
                { 'is-dragging': this.isDragging },
                { 'is-disabled': this.disabled },
                { 'is-active': this.isActive },
                { 'has-icon': this.hasIcon },
                { 'has-marker': this.showMarker }
            ];
        },

        hasIcon() {
            return Boolean(this.$slots.icon) || Boolean(this.icon);
        },

        fillStyle() {
            return { transform: 'scaleX(' + (this.localValue / 100) + ')' };
        },

        thumbStyle() {
            return {
                transform: 'translateX(' + (
                    ((this.localValue / 100) * this.trackLength) - (this.thumbSize / 2)
                ) + 'px)'
            };
        },

        markerText() {
            return this.markerValue ? this.markerValue : this.value;
        },

        snapPoints() {
            const points = [];
            let index = 0;
            let point = index * this.step;

            while (point <= 100) {
                points.push(point);
                index++;
                point = index * this.step;
            }

            return points;
        }
    },

    watch: {
        value() {
            this.setValue(this.value);
        },

        isDragging() {
            const operation = this.isDragging ? 'add' : 'remove';
            classlist[operation](document.body, 'ui-slider--is-dragging');
        }
    },

    mounted() {
        this.initializeSlider();
    },

    beforeDestroy() {
        this.teardownSlider();
    },

    methods: {
        reset() {
            this.setValue(this.initialValue);
        },

        onFocus() {
            this.isActive = true;
            this.$emit('focus');
        },

        onBlur() {
            this.isActive = false;
            this.$emit('blur');
        },

        onExternalClick(e) {
            if (!this.$el.contains(e.target)) {
                this.onBlur();
            }
        },

        setValue(value) {
            if (value > 100) {
                value = 100;
            } else if (value < 0) {
                value = 0;
            }

            if (value === this.localValue) {
                return;
            }

            this.localValue = value;
            this.$emit('input', value);
            this.$emit('change', value);
        },

        incrementValue() {
            this.setValue(this.localValue + this.step);
        },

        decrementValue() {
            this.setValue(this.localValue - this.step);
        },

        getTrackOffset() {
            let el = this.$refs.track;
            let offset = el.offsetLeft;

            while (el.offsetParent) {
                el = el.offsetParent;
                offset += el.offsetLeft;
            }

            return offset;
        },

        getPointStyle(point) {
            return {
                left: point + '%'
            };
        },

        refreshSize() {
            this.thumbSize = this.$refs.thumb.offsetWidth;
            this.trackLength = this.$refs.track.offsetWidth;
            this.trackOffset = this.getTrackOffset(this.$refs.track);
        },

        initializeSlider() {
            document.addEventListener('touchend', this.onDragStop);
            document.addEventListener('mouseup', this.onDragStop);
            document.addEventListener('click', this.onExternalClick);

            this.$on('window-resize', () => {
                this.refreshSize();
                this.isDragging = false;
            });

            this.refreshSize();
            this.initializeDrag();
        },

        teardownSlider() {
            document.removeEventListener('touchend', this.onDragStop);
            document.removeEventListener('mouseup', this.onDragStop);
            document.removeEventListener('click', this.onExternalClick);
        },

        initializeDrag() {
            const value = this.getEdge(this.localValue ? this.localValue : 0, 0, 100);
            this.setValue(value);
        },

        onDragStart(e) {
            if (this.disabled) {
                return;
            }

            if (!this.isActive) {
                this.onFocus();
            }

            this.isDragging = true;
            this.dragUpdate(e);

            document.addEventListener('touchmove', this.onDragMove);
            document.addEventListener('mousemove', this.onDragMove);

            this.$emit('dragstart', this.localValue, e);
        },

        onDragMove(e) {
            this.dragUpdate(e);
        },

        dragUpdate(e) {
            const position = e.touches ? e.touches[0].pageX : e.pageX;
            const value = this.getEdge(
                ((position - this.trackOffset) / this.trackLength) * 100, 0, 100
            );

            if (this.isDragging) {
                this.setValue(Math.round(value));
            }
        },

        onDragStop(e) {
            this.isDragging = false;

            if (this.snapToSteps && this.value % this.step !== 0) {
                this.setValue(this.getNearestSnapPoint());
            }

            document.removeEventListener('touchmove', this.onDragMove);
            document.removeEventListener('mousemove', this.onDragMove);

            this.$emit('dragend', this.localValue, e);
        },

        getNearestSnapPoint() {
            const previousSnapPoint = Math.floor(this.value / this.step) * this.step;
            const nextSnapPoint = previousSnapPoint + this.step;
            const midpoint = (previousSnapPoint + nextSnapPoint) / 2;

            return this.value >= midpoint ? nextSnapPoint : previousSnapPoint;
        },

        getEdge(a, b, c) {
            if (a < b) {
                return b;
            }

            if (a > c) {
                return c;
            }

            return a;
        }
    },

    components: {
        UiIcon
    },

    mixins: [
        RespondsToWindowResize
    ]
};
</script>


