<template>
    <transition :name="transitionName" @after-enter="onEnter" @after-leave="onLeave">
        <div class="ui-snackbar" @click="onClick">
            <div class="ui-snackbar__message">
                <slot>{{ message }}</slot>
            </div>

            <div class="ui-snackbar__action">
                <ui-button
                    class="ui-snackbar__action-button"
                    type="secondary"

                    :color="actionColor"

                    @click.stop="onActionClick"

                    v-if="action"
                >{{ action }}</ui-button>
            </div>
        </div>
    </transition>
</template>

<script>
import UiButton from './UiButton.vue';

export default {
    name: 'ui-snackbar',

    props: {
        message: String,
        action: String,
        actionColor: {
            type: String,
            default: 'accent' // 'primary' or 'accent'
        },
        transition: {
            type: String,
            default: 'slide' // 'slide' or 'fade'
        }
    },

    computed: {
        transitionName() {
            return 'ui-snackbar--transition-' + this.transition;
        }
    },

    methods: {
        onClick() {
            this.$emit('click');
        },

        onActionClick() {
            this.$emit('action-click');
        },

        onEnter() {
            this.$emit('show');
        },

        onLeave() {
            this.$emit('hide');
        }
    },

    components: {
        UiButton
    }
};
</script>


