<template>
    <label class="ui-switch" :class="classes">
        <div class="ui-switch__input-wrapper">
            <input
                class="ui-switch__input"
                type="checkbox"

                :checked.prop="isChecked"
                :disabled="disabled"
                :name="name"
                :value="submittedValue"

                @blur="onBlur"
                @change="onChange"
                @click="onClick"
                @focus="onFocus"
            >

            <div class="ui-switch__thumb">
                <div class="ui-switch__focus-ring"></div>
            </div>

            <div class="ui-switch__track"></div>
        </div>

        <div class="ui-switch__label-text" v-if="label || $slots.default">
            <slot>{{ label }}</slot>
        </div>
    </label>
</template>

<script>
import { looseEqual } from './helpers/util';

export default {
    name: 'ui-switch',

    props: {
        name: String,
        label: String,
        value: {
            required: true
        },
        trueValue: {
            default: true
        },
        falseValue: {
            default: false
        },
        submittedValue: {
            type: String,
            default: 'on' // HTML default
        },
        checked: {
            type: Boolean,
            default: false
        },
        color: {
            type: String,
            default: 'primary' // 'primary' or 'accent'
        },
        switchPosition: {
            type: String,
            default: 'left' // 'left' or 'right'
        },
        disabled: {
            type: Boolean,
            default: false
        }
    },

    data() {
        return {
            isActive: false,
            isChecked: looseEqual(this.value, this.trueValue) || this.checked,
            initialValue: this.value
        };
    },

    computed: {
        classes() {
            return [
                `ui-switch--color-${this.color}`,
                `ui-switch--switch-position-${this.switchPosition}`,
                { 'is-active': this.isActive },
                { 'is-checked': this.isChecked },
                { 'is-disabled': this.disabled }
            ];
        }
    },

    watch: {
        value() {
            this.isChecked = looseEqual(this.value, this.trueValue);
        }
    },

    created() {
        this.$emit('input', this.isChecked ? this.trueValue : this.falseValue);
    },

    methods: {
        onClick(e) {
            this.isChecked = e.target.checked;
            this.$emit('input', e.target.checked ? this.trueValue : this.falseValue);
        },

        onChange(e) {
            this.$emit('change', this.isChecked ? this.trueValue : this.falseValue, e);
        },

        onFocus() {
            this.isActive = true;
            this.$emit('focus');
        },

        onBlur() {
            this.isActive = false;
            this.$emit('blur');
        }
    }
};
</script>


