<template>
    <li
        class="ui-tab-header-item"
        ref="headerItem"
        role="tab"

        :aria-controls="id"
        :aria-selected="active ? 'true' : null"
        :class="classes"
        :disabled="disabled"
        :tabindex="active ? 0 : -1"
    >
        <div
            class="ui-tab-header-item__icon"
            v-if="type === 'icon' || type === 'icon-and-text'"
        >
            <slot name="icon">
                <ui-icon
                    :icon-set="iconProps.iconSet"
                    :icon="icon"
                    :remove-text="iconProps.removeText"
                    :use-svg="iconProps.useSvg"
                ></ui-icon>
            </slot>
        </div>

        <div
            class="ui-tab-header-item__text"
            v-if="type === 'text' || type === 'icon-and-text'"
        >{{ title }}</div>

        <ui-ripple-ink trigger="headerItem" v-if="!disableRipple && !disabled"></ui-ripple-ink>
    </li>
</template>

<script>
import UiIcon from './UiIcon.vue';
import UiRippleInk from './UiRippleInk.vue';

import config from './config';

export default {
    name: 'ui-tab-header-item',

    props: {
        id: String,
        type: {
            type: String,
            default: 'text' // 'text', 'icon', or 'icon-and-text'
        },
        title: String,
        icon: String,
        iconProps: {
            type: Object,
            default() {
                return {};
            }
        },
        active: {
            type: Boolean,
            default: false
        },
        show: {
            type: Boolean,
            default: true
        },
        disableRipple: {
            type: Boolean,
            default: config.data.disableRipple
        },
        disabled: {
            type: Boolean,
            default: false
        }
    },

    computed: {
        classes() {
            return [
                `ui-tab-header-item--type-${this.type}`,
                { 'is-active': this.active },
                { 'is-disabled': this.disabled }
            ];
        }
    },

    components: {
        UiIcon,
        UiRippleInk
    }
};
</script>


