<template>
    <div class="ui-tooltip" ref="tooltip" role="tooltip" :id="id">
        <slot></slot>
    </div>
</template>

<script>
import Tooltip from 'tether-tooltip';
import UUID from './helpers/uuid';

export default {
    name: 'ui-tooltip',

    props: {
        trigger: {
            type: String,
            required: true
        },
        position: {
            type: String,
            default: 'bottom center'
        },
        openOn: {
            type: String,
            default: 'hover focus'
        },
        openDelay: {
            type: Number,
            default: 0
        }
    },

    data() {
        return {
            tooltip: null,
            id: UUID.short('ui-tooltip-')
        };
    },

    watch: {
        trigger() {
            if (this.tooltip === null) {
                this.initialize();
            }
        }
    },

    mounted() {
        if (this.tooltip === null) {
            this.initialize();
        }
    },

    beforeDestroy() {
        if (this.tooltip !== null) {
            this.tooltip.destroy();
        }
    },

    methods: {
        initialize() {
            if (this.trigger !== undefined && this.$parent.$refs[this.trigger]) {
                const triggerEl = this.$parent.$refs[this.trigger]._isVue ?
                    this.$parent.$refs[this.trigger].$el : // Use .$el if the ref is a Vue component
                    this.$parent.$refs[this.trigger];

                this.tooltip = new Tooltip({
                    target: triggerEl,
                    content: this.$refs.tooltip,
                    classes: 'ui-tooltip--theme-default',
                    position: this.position,
                    openOn: this.openOn,
                    openDelay: this.openDelay
                });

                triggerEl.setAttribute('aria-describedby', this.id);
            }
        }
    }
};
</script>


