<template>
    <div class="ui-toolbar" :class="classes">
        <div class="ui-toolbar__left">
            <div class="ui-toolbar__nav-icon" v-if="!removeNavIcon">
                <slot name="icon">
                    <ui-icon-button
                        size="large"
                        type="secondary"

                        :color="textColor"
                        :icon="navIcon"

                        @click="navIconClick"
                    ></ui-icon-button>
                </slot>
            </div>

            <div class="ui-toolbar__brand" v-if="brand || $slots.brand">
                <slot name="brand">
                    <div class="ui-toolbar__brand-text">{{ brand }}</div>
                </slot>
            </div>
        </div>

        <div class="ui-toolbar__body" :class="{ 'has-brand-divider': hasBrandDivider }">
            <slot>
                <div class="ui-toolbar__title" v-if="title">{{ title }}</div>
            </slot>
        </div>

        <div class="ui-toolbar__right">
            <slot name="actions"></slot>
        </div>

        <ui-progress-linear
            class="ui-toolbar__progress"
            :color="progressColor"
            v-show="loading"
        ></ui-progress-linear>
    </div>
</template>

<script>
import UiIconButton from './UiIconButton.vue';
import UiProgressLinear from './UiProgressLinear.vue';

export default {
    name: 'ui-toolbar',

    props: {
        type: {
            type: String,
            default: 'default' // 'default', 'colored' or 'clear' - colored is brand primary color
        },
        textColor: {
            type: String,
            default: 'black' // 'black' or 'white'
        },
        title: String,
        brand: String,
        removeBrandDivider: {
            type: Boolean,
            default: false
        },
        navIcon: {
            type: String,
            default: 'menu'
        },
        removeNavIcon: {
            type: Boolean,
            default: false
        },
        raised: {
            type: Boolean,
            default: true
        },
        progressPosition: {
            type: String,
            default: 'bottom' // 'top' or 'bottom'
        },
        loading: {
            type: Boolean,
            default: false
        }
    },

    computed: {
        classes() {
            return [
                `ui-toolbar--type-${this.type}`,
                `ui-toolbar--text-color-${this.textColor}`,
                `ui-toolbar--progress-position-${this.progressPosition}`,
                { 'is-raised': this.raised }
            ];
        },

        progressColor() {
            return (this.textColor === 'black') ? 'primary' : 'white';
        },

        hasBrandDivider() {
            return this.removeBrandDivider ? false : (this.brand || this.$slots.brand);
        }
    },

    methods: {
        navIconClick() {
            this.$emit('nav-icon-click');
        }
    },

    components: {
        UiIconButton,
        UiProgressLinear
    }
};
</script>


